@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins bold';
    src: url('Poppins/Poppins-Bold.ttf');
}
body {
    padding: 40px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
}
.indent { 
    /* отступ */
    padding: 0 10vw;
}
.log {
    /* для логотипа */
    width: 126px;
}
.vig {
    /* меню вверху */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 74px;
    float: right;
    font-size: 16px;
    list-style-type: none;
    padding-top: 10px;
    cursor: pointer;
}
.vig li:nth-child(4) {
    font-family: 'Poppins bold';
}
.vig li:last-child {
    /* кнопка */
    border: none;
    background-color: #2C3878;
    margin-top: -10px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
}
h1 {
    font-size: 56px;
    text-align: center;
    padding-top: 100px;
}
.heading1 {
    margin-top: 35px;
    font-size: 18px;
    margin: 0 auto;
    width: 450px;
    text-align: center;
    line-height: 1.75em;
}
.img1 {
    margin: 60px auto 100px;
    width: 80vw;
    display: block;
}
hr {
    border: 1.5px solid #000;
    width: 500px;
    margin: 0;
    margin-top: -23px;
    margin-left: 90px;
    margin-bottom: 50px;
}
.img2 {
    width: 75%;
}
.about {
    position: relative;
    width: 280px;
    height: 90px;
    font-size: 18px;
    background-color: white;
    margin-left: -85px;
    box-shadow: 0 0 10px 10px rgba(180,180,180,0.1);
}
.about img {            
    height: 50px;
    float: left;
    padding: 20px 20px;
}
.about p {
    font-family: 'Poppins bold';
    padding-top: 20px;
    margin-bottom: -40px;
}
.about p:last-child {
    color: #9C9C9C;
    font-family: 'Poppins';
}
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.col {
    flex-direction: column;
}
.menu {
    padding-top: 40px;
    padding-left: 145px;            
}
.menu h3 {
    font-size: 24px;
    color: #333333;
}
.menu p {
    margin-top: 20px;
    font-size: 18px;
    color: #9C9C9C;
    height: 220px;
    width: 200px;  
    line-height: 1.5em;          
}
.menu p:last-child {
    border: none;
    background-color: #2C3878;
    margin-top: -20px;
    padding-top: 15px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    height: 35px;
    width: 130px;
}
.img3 {
    margin-right: -210px;
    position: static;
}
.left1 {
    left: 100px;
}
.left2 {
    margin-left: -320px;
}
h2 {
    font-size: 36px;
    color: #333333;
}
.customize {
    color: #9C9C9C;
    font-size: 18px;
    height: 90px;
    width: 450px;
    margin-bottom: 40px;
}
.center {
    justify-content: space-between;
    margin-bottom: 100px;
}
.prof {
    box-shadow: 0 0 10px 10px rgba(180,180,180,0.1);
    flex-direction: column;
    height: 10%;
    width: 30%;
    text-align:center;
}
.prof svg {
    margin:30px auto -5px;
}
.prof h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.prof p {
    font-size: 18px;
    color: #9C9C9C;
    line-height: 1.5em;
}
.blue {
    background-color: #2C3878;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto 80px;
    height: 200px;
    align-items: center;
}
.blue h3 {
    font-size: 2.5vw;
    width: 610px;
    padding-left: 10px;
}
.blue p {
    font-size: 18px;
    width: 400px;
    margin-bottom: 20px;
}
.blue p:last-child {
    border: none;
    background-color: #fff;
    margin-top: 5px;
    padding: 10px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 100px;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bottom h3 {
    font-size: 36px;
    width: 480px;
    line-height: 1.5em;
}
.bottom p {
    width: 430px;
}
.right3 {
    width: 40%;
}
.right3 h3 {
    font-size: 2em;
    width: 90%;
}
.left3 {
    margin-top: -5%;
    margin-left: 20%;
}
.left3 p:nth-child(1) {
    font-size: 18px;
}
p#curcle::before {
    content: "⚫";
    height: 14px;
    margin-right: 10px;
}
.email {
    margin-top: 25px;
    color: #D9D9D9;
    font-size: 14px;
    width: 440px;
    border-bottom: 1px solid #141414;
    padding-bottom: 5px;
    flex-direction: row;
    cursor: text;
}
.email img {
    display: inline-block;
    position: absolute;
    margin-top: -50px;
    margin-left: 400px;
    cursor: pointer;
}
.ending {
    margin-top: 40px;
    font-size: 16px;
    color: #333;
    position: absolute;
}
.logo {
    /* соцсети */
    position: relative;
    left: -203px;
    top: -3px;
    cursor: pointer;
}
@media (max-width: 1100px) {
    .container_1 {
        flex-direction: column;
        align-items: center;
    }
    .container_1 div{
        width: 90%;
        margin-top: 50px;
    }
}